.addStory {
  position: relative;
  padding: 20px;
  &-loading {
    background-color: rgba(0, 0, 0, 0.2);
  }
  &__title {
    margin-bottom: 40px;
    font-size: 32px;
    text-align: center;
  }
  &__fieldText {
    font-size: 18px;
    margin-right: 30px;
    white-space: nowrap;
  }
  &_spinner {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
  }
  &_spinner-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &_spinner_progress {
    margin-bottom: 20px;
  }
  &_spinner_text {
    font-size: 22px;
  }
}
