.login {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  background-color: #123;
  height: 100vh;
  width: 100%;
  padding-top: 200px;
  &__inner {
    width: 400px;
    margin: 0 auto;
  }

  &__card {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  &__title {
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
  }
  &__logo {
    text-align: center;
    color: #ffff;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 15px;
  }
}
