.sc {
  position: relative;
  // input {
  // 	padding-left: 30px;
  // 	font-size: 15px;
  // 	width: 100%;
  // 	border: 1px solid #afadad;
  // 	transition: all 0.3s;
  // }
  // input:focus {
  //   border: 1px solid #484747;
  // }
  &__field {
    position: relative;
  }
  &__iconSearch {
    position: absolute;
    left: 10px;
    top: 50%;
    z-index: 10;
    color: #7a7a7a;
    transform: translateY(-50%);
  }
  &__iconTarget {
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 10;
    color: #7a7a7a;
    transform: translateY(-50%);
  }
}
.sg {
  background-color: white;
  position: absolute;
  z-index: 200;
  top: 120%;
  left: 0;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  &__item {
    color: #505050;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #0000004c;
    border-radius: 5px;
    margin: 10px 10px;
  }
  &__item--active {
    background-color: #cba437;
    color: white;
  }
}
