.calculator {
  background-color: #24889f;

  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
  }
  &__inner {
    max-width: 460px;
  }
  &__text {
    display: inline-block;
    color: white;
    font-size: 18px;
    line-height: 25px;
  }
  .range {
    margin-bottom: 25px;
  }
  .range-big {
    max-width: 320px;
    padding-left: 50px;
  }
  .range-small {
    padding-left: 50px;
    width: 160px;
  }
  .countries {
    &__select {
      padding: 10px;
      border-radius: 5px;
    }
    margin-bottom: 35px;

    &__text {
      margin-bottom: 20px;
    }
    select {
      display: block;
    }
  }
  &__addText {
    padding-right: 50px;
    p {
      font-size: 15px;
      margin-top: 20px;
    }
  }
}
.options {
  padding: 0 70px 0 15px;

  label {
    display: flex;
    align-items: center;
    // justify-content: space-between;
  }

  & > div {
    margin-top: 30px;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + .fake-checkbox::before {
    opacity: 1;
  }
}
.fake-checkbox {
  display: block;
  position: relative;
  margin-right: 15px;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s;
  &::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #9f7534;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}
.calc__title {
  text-align: center;
  color: #9f7534;
  font-weight: 400;
  font-size: 35px;
  line-height: 49px;
  margin-bottom: 30px;
}

@media (max-width: 1000px) {
  .calculator {
    &__wrap {
      flex-direction: column;
      margin: 0 auto;
    }
  }
}
@media (max-width: 768px) {
  .calculator {
    .options {
      padding: 0 0 0 15px;
    }
    &__wrap {
      padding: 20px 10px;
    }
    .range {
      max-width: 280px;
    }
    &__text {
      font-size: 14px;
    }
  }
  .calculator__addText {
    padding-right: 0;
  }
  .calc__title {
    font-size: 28px;
  }
}
