.description {
	background: #9ab7bd;
	border-radius: 20px;
	max-width: 400px;
	padding: 20px;

	&_price {
		text-align: center;
		font-size: 40px;
		color: #0c3548;
		margin-bottom: 20px;
	}
	&_text {
		font-weight: 400;
		font-size: 18px;
		letter-spacing: -0.015em;
		color: #ffffff;
	}
	&_item {
		position: relative;
		margin: 25px;
	}
	&_item::before {
		position: absolute;
		content: "";
		width: 5px;
		height: 5px;
		background-color: #ffffff;
		border-radius: 50%;
		top: 50%;
		left: -10px;
		transform: translate(-50%, -50%);
	}
}
.form {
	margin-top: 60px;
	&_button {
		margin-top: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		button {
			padding: 10px 30px;
			color: #ffffff;
			text-transform: uppercase;
			letter-spacing: 1.2px;
			background: #b67718;
			border-radius: 3px;
		}
	}
	.field {
		margin-top: 15px;
		padding: 0 25px;
		&_textarea,
		input {
			border-radius: 10px;
			height: 30px;
			width: 100%;
			display: block;
			margin: 0 auto;
		}
		&_textarea {
			height: 60px;
			margin-bottom: 10px;
		}
		&_text {
			font-size: 14px;
			margin-bottom: 10px;
			color: #ffffff;
		}
	}
}
@media (max-width: 1000px) {
	.description {
		// margin-top: 50px;
		margin: 50px auto;
		max-width: 100%;
	}
}
