.popup {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100020;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0;
  overflow: hidden;
  display: none;
  opacity: 0;
  text-align: center;
  transition: 0.3s;
}
