.drop {
  &__btn {
    background-color: #676767;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;
  }
  &__btn:not(:disabled) {
    color: #fff;
    background-color: #cb9c4a;
    cursor: pointer;
  }
  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px dashed #c6c6c6;
    border-radius: 5px;
    margin: 20px 25px;
    padding: 40px 20px;
    &--active {
      background-color: #f1e6d1a9;
    }
    &--error {
      border: 2px dashed #d01212;
    }
  }
  &__progressBar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__text {
    margin: 0;
    font-size: 20px;
  }
}
.button__upload {
  position: relative;
}
#uploads {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
