.dropdown {
	position: relative;
	cursor: pointer;

	&_menu {
		position: absolute;
		top: 25px;
		left: 195px;
		z-index: 10;
		min-width: 200px;
		background: rgba(119, 159, 168, 0.72);
		border-radius: 6px;
		transition: all 0.3s;
		max-height: 0;
		overflow: hidden;

		li {
			position: relative;
			display: inline-block;
			margin: 10px 0;
		}
		li:after {
			content: "";
			display: block;
			position: absolute;
			right: 0;
			bottom: -3px;
			width: 0;
			height: 1px;
			background-color: rgb(26, 114, 138);
			transition: width 0.3s;
		}
		li:hover:after {
			content: "";
			width: 100%;
			display: block;
			position: absolute;
			left: 0;
			bottom: -3px;
			height: 1px;
			background-color: rgb(26, 114, 138);
			transition: width 0.3s;
		}
		a {
			text-transform: uppercase;
			font-size: 15px;
			display: block;
			letter-spacing: 0.21em;

			line-height: 18px;
			color: #fff;
			transition: all 0.3s;
		}
		a:hover {
			color: #f3d6a2;
		}
	}
}
.open {
	visibility: visible;
}

.show {
	max-height: 350px;
	padding: 15px 20px;
}
@media (max-width: 800px) {
	.dropdown {
		&_menu {
			position: relative;
			min-width: 160px;
			top: 15px;
			left: 25px;
			display: flex;
			flex-direction: column;

			a {
				margin-bottom: 0px;
				margin-top: 0px;
			}
		}
	}
}
