.insta {
  &__inner {
    max-width: 650px;
    margin: 0 auto;
  }
  &__logo {
    width: 150px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__msg {
    width: 70px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0 50px 0;
  }
  &__ava {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    // transition: all 0.3s;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__ava:hover {
    box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.2);
  }
}

.photobox {
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 10px;
  }

  &__item {
    aspect-ratio: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media (max-width: 500px) {
  .insta {
    &__ava {
      width: 50px;
      height: 50px;
    }
    &__header {
      margin: 20px 0 20px 0;
    }
  }
  .photobox {
    &__inner {
      gap: 5px;
    }
  }
}
