.description {
  background: #9ab7bd;
  border-radius: 20px;
  min-width: 400px;
  padding: 20px;

  &_price {
    text-align: center;
    font-size: 40px;
    color: #0c3548;
    margin-bottom: 20px;
  }
  &_text {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.015em;
    color: #ffffff;
  }
  &_item {
    position: relative;
    margin: 25px;
  }
  &_item::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 50%;
    left: -10px;
    transform: translate(-50%, -50%);
  }
}
.form {
  margin-top: 60px;
  &_button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      padding: 10px 30px;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      background: #b67718;
      border-radius: 3px;
    }
  }
}
.field {
  margin-top: 15px;
  padding: 0 25px;
  &_textarea,
  input {
    position: relative;
    border-radius: 10px;
    height: 45px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-left: 15px;
    font-size: 18px;
  }
  &_textarea:focus {
    border: 1px solid #0c3548;
  }
  input:focus {
    border: 1px solid #0c3548;
  }
  input::-webkit-input-placeholder {
    color: #9ab7bd;
  }
  input:focus::placeholder {
    opacity: 0;
  }
  input:focus::-moz-placeholder {
    opacity: 0;
  }
  input:focus:-moz-placeholder {
    opacity: 0;
  }
  &_textarea {
    border-radius: 10px;
    padding: 15px;
    height: 60px;
    font-size: 15px;
    margin-bottom: 10px;
    resize: none;
    border: #9f9f9f;
  }

  &_text {
    font-size: 14px;
    margin-bottom: 10px;
    color: #ffffff;
  }
}
@media (max-width: 1000px) {
  .description {
    margin: 50px auto;
    min-width: 100%;
  }
}
@media (max-width: 500px) {
  .description {
    &_text {
      font-size: 14px;
    }
  }

  .field {
    padding: 0 10px;
  }
}
