.admin {
  &__logo {
    font-weight: 300;
    text-transform: uppercase;

    margin-left: 50px;
    display: block;
    margin: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-size: 32px;
    color: rgba(13, 28, 36, 0.85);
  }
  &__inner {
    display: flex;
    min-height: 100vh;
    margin-top: 20px;
  }
  &__main {
    padding: 20px 20px;
    width: 100%;
  }
  &__aside {
    min-width: 300px;
    background-color: rgb(2 21 33 / 91%);
    padding: 0 10px;
  }
  &__addStory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;
    margin: 20px auto;
    width: 80%;
    background-color: rgb(215, 178, 86);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: all 0.3s;
  }
  &__addStory:hover {
    background-color: rgb(184, 152, 73);
    width: 85%;
  }
  &__addStoryIcon {
    font-size: 1.8rem;
  }
  &__addStoryText {
    font-size: 16px;
  }
  &__side-title {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    padding: 20px 40px;
    font-weight: 500;
  }
  &__menu {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
  }
  &__menu-list {
  }
  &__menu-item {
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    letter-spacing: 2px;
    a {
      color: white;
    }
  }
  &__menu-item:hover {
    transform: translateX(5px);
  }
}
