.slider {
	position: relative;
	padding: 50px;
	width: 100%;
	display: inline-block;
	touch-action: none; // important
	&_input {
		position: relative;
		z-index: 100;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		height: 8px;
		width: 100%;
		background-color: transparent;
		border-radius: 5px;
		border: none;
		outline: none;
		transition: all 0.3s;
	}
	.value {
		position: absolute;
		font-size: 15px;
		font-weight: 500;
		color: #ffff;
	}
	.left {
		left: -25px;
	}
	.right {
		right: -32px;
	}
	&_bar {
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 8px;
		display: block;
		background-color: #ddd7ca;
		border-radius: 5px;
	}
	&_fill {
		display: block;
		width: 0%;
		height: 100%;
		border-radius: 5px;
		background-color: #998e73;
		transition: all 0.2s linear;
	}
	&_container {
		position: relative;
		z-index: 10;
		display: flex;
		background-color: transparent;
		align-items: center;
		justify-content: center;
	}
	&_thumb {
		position: absolute;
		z-index: inherit;
		top: 50%;
		left: 0;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 2px solid #fff;
		background-color: #ae8547;
		cursor: pointer;
		transition: all 0.2s linear;
		transform: translate(-50%, -50%);
	}
	&_thumb {
	}
	&_input::-webkit-slider-thumb {
		position: relative;
		z-index: 12;
		-webkit-appearance: none;
		width: 20px;
		height: 20px;
		background-color: transparent;
		cursor: pointer;
		outline: none;
	}
	&_input::-moz-range-thumb {
		width: 20px;
		height: 20px;
		background-color: transparent;
		cursor: pointer;
		outline: none;
		transition: all 0.2s linear;
	}
}

.slider_value {
	position: relative;
	width: 100%;
	transition: all 0.2s linear;
	span {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		background-color: #baa46e;
		color: #fff;
		top: -40px;
		left: 0;
		transition: all 0.3s;
		transform: translateX(-50%) scale(0);
		z-index: 2;
	}
}

.show {
	span {
		transform: translateX(-50%) scale(1);
	}
}
